@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

#selected {
  display: block;
  font-weight: bold;
  color: blue;
}

.hidden {
  color: black;
}

.hidden {
  display: none;
  opacity: 0;
}

.lyric {
  flex-wrap: wrap;
}

.letter {
  display: inline-block; 
  margin: 0;
  padding: 0;
  letter-spacing: -1em; 
  font-size: 16px; 
}

.correct {
  color: green;
}

.wrong {
  color: red;
}