<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/home-page.css">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyrically | The Speed of Sound</title>
  </head>
  <body>
    <div>Lyrically</div>
    <div>the Speed of Sound</div>

    <form id="search-form" action="play" method="POST">
      <div>
        <label for="songName">Song:</label>
        <input
          type="text"
          id="songName"
          name="songName"
          placeholder="Song Name"
        />
      </div>
      <input type="submit" value="Submit" />
    </form>

    <div>
      <div>
        <div class="header">What is Lyrically?</div>
        <div>
          Lyrically is a passion project created by musicophiles, for musicophiles. 
          It offers a multitude of typing tests that follow the flow of songs of your choosing.
        </div>
      </div>

      <div>
        <div class="header">Is Lyrically free to play?</div>
        <div>Lyrically is 100% free to play to anyone. We don't plan to have any paywalls in the future as well.</div>
      </div>

      <div>
        <div class="header">How does Lyrically make money?</div>
        <div>
          Lyrically makes money by the use of ads. 
          Of course, to prevent ads from interrupting your experience, we don't include ads when you play. 
          We also accept doantions at [DONATION LINK].
        </div>
      </div>
    </div>

  <script src="/script/script.js"></script>
</html>
