<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../style/style.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyrically | A mix of typing and music</title>
  </head>
  <body>
    <form id="search-form" action="play" method="POST">
      <div>
        <label for="songName">Song:</label>
        <input
          type="text"
          id="songName"
          name="songName"
          placeholder="Song Name"
        />
      </div>
      <input type="submit" value="Submit" />
    </form>

  <script src="../script/script.js"></script>
</html>
