<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/play.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyrically | A mix of typing and music</title>
  </head>
  <body>
    <form id="search-form" action="play" method="POST">
      <div>
        <label for="songName">Song:</label>
        <input
          type="text"
          id="songName"
          name="songName"
          placeholder="Song Name"
        />
      </div>
      <input type="submit" value="Submit" />
    </form>

    <div id="lyrics-container">
      <!--! Prettier formatter does not properly format ejs code -->
      <% if (typeof lyrics != "undefined" && lyrics != null) { %> <% const arr =
      lyrics.split("\n"); %> <% console.log(arr[0]); %> <% arr.forEach(res=>{ %>
      <% if (res != "") { %>
      <div class="hidden"><%= res %></div>
      <% } %>
      <% }); %>
      <% } %>
    </div>

    <iframe
      id="audio-player"
      width="560"
      height="315"
      src="<%= typeof ytUrl == "undefined" ? "": ytUrl%>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </body>

  <script defer>let timestamps = [<%= timestampsArr %>];</script>
  <script type="text/javascript" src="/script/play.js" defer></script>
</html>